@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --black: #0a0a0a;
  --white: #f5f5fa;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

/* .cards-wrapper {
  @apply md:border p-6 rounded-xl;
} */

.cards-list {
  @apply grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4
}

.card {
  @apply border border-gray-500 p-6 rounded-xl;
}